.tahlil__slide-box {
    overflow: hidden;
    margin: 40px 0; 
    position: relative;
}
.tahlil__list {
    display: flex; 
    list-style-type: none;
}
.tahlil__text-box {
    margin: 30px 0;
}
.tahlil__title {
    text-align: center; 
    margin: 20px 0;
}

.tahlil__item {
    margin: 0 40px;
  }
  .tahlil__img {
    width: 350px;
    height: 250px;
  }
  
  .yordam__btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: 500;
    font-size: 18px;
    background: #1d1d1d;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #c5c5c5;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
  }
  .yordam__btn i{
    font-size: 24px;
  }
  .tahlil__btn-slide {
    color: #8a8a8a;
    background: #ececec;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .tahlil__slide-box {
    position: relative;
  }
  .tahlil__btn-slide i{
    font-size: 36px;
    color: #888;
  }
  .left {
    position: absolute;
    top: 25%;
    left: 0px;
  }
  .right {
    position: absolute;
    top: 25%;
    right: 0px;
  }
  .tahlil__list {
    margin: 50px 0;
    transition: all 0.3s ease;
  }
  .tahlil__btn-box {
    border-radius: 5px;
    width: 100%;
    padding: 5px 0;
    justify-content: space-between;
    background-color: rgb(231, 228, 228);
    display: flex;
    transition: all 0.3s ease;
  }
  .tahlil__btn {
    width: 49%;
    height: 48px;
    display: block;
    border: none;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .tahlil__btn:nth-child(1) {
    background-color: transparent;
  }