.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1d1d1d;
    padding: 18px 0;
    z-index: 20;
  }
  .header__item {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
  }
  .header__item i{
    font-size: 25px;
    color: #fff;
  }
  .header__list {
    list-style-type:
    none; display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  .option{
    background-color: #1d1d1d;
    color: #fff;
    font-size: 20px;
    border: none;
  }